@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;0,700;1,600&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background-color: black;
    color: black;
    line-height: 1.7;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: black;
}


/* Navbar START*/
.nav-item .nav-link {
    color: #ffd801;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
    font-size: 20px;
}

.nav-item .nav-link:hover {
    color: #20209e;
}

.navbar-brand {
    font-size: 30px;
    color: #ffd801;
}

.navbar-brand:hover {
    color: #2701ff;
    transition: all 0.4s;
}

/* Navbar END */


/* Button Navbar START */
.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand {
    color: white;
    font-weight: 600;
    background-color: #2701ff;
    border-color: #2701ff;
}

.btn-brand:hover {
    color: white;
    background-color: #20209e;
}

/* Button Navbar END */



/* Home Section START */
.slide-1 {
    background: url(img/batagorabadi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.display-1 {
    font-size: 40px;
    color: #ffd801;
}

.display-2 {
    font-size: 40px;
    color: #ffd801;
}

.slide-2 {
    background: url(img/batagorkeringbumbu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#heroSlider h6::before,
#heroSlider h6::after {
    width: 40px;
    height: 4px;
    content: "";
    background-color: white;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.6);
    width: 30px;
    height: 50px;
    margin: auto;
}


/* Home Section ends */


/* Menu Section START */
section h1 {
    text-align: center;
}

section h1 span {
    color: #ffd801;
}

section {
    margin-top: 70px;
}

section h5,
p {
    color: white;
}

section h1 {
    color: white;
}

/* Menu Section END */


/* Order Form START */
#order {
    margin-top: 100px;
}

#order .form-control {
    border-radius: 0;
}

#order .form-control:focus {
    box-shadow: none;
}

#order input.form-control {
    height: 47px;
}

#order {
    margin-top: 130px;
}

#order span {
    color: #ffd801;
}

#order .col-13 {
    text-align: center;
}

#order .form-label {
    color: white;
}

/* Order Form END */


/* Review Form START */
#reviewcostumer {
    margin-top: 200px;
}

.text-white {
    text-align: center;
}

.text-black span {
    color: #ffd801;
}

/* Review Form END */


/* Contact Form START */
#contact {
    margin-top: 210px;
}

.contact-git {
    text-align: center;
}

.contact-git span {
    color: #ffd801;
}

/* Contact Form END */


/* Footer START */
footer {
    background-color: white;
}

.footercontainer {
    width: 100%;
    background-color: black;
}

.logosocmed {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 4;
}

.logosocmed a {
    text-decoration: none;
    color: blue;
    display: inline-block;

}

.logosocmed a i {
    text-decoration: none;
    font-size: 24px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s
}

.logosocmed a:hover {
    color: #ffd801;
    transform: translateY(-5px);
}

.logosocmed a:hover i {
    color: #ffd801;
    transition: 0.5s;
    transform: translateY(-5px);
}

.footernavbar {
    text-align: center;
    text-decoration: none;
}

.footernavbar ul {
    display: flex;
    justify-content: center;
}

.footernavbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.5s;
}

.footernavbar ul li a:hover {
    opacity: 1;
}

.footerbottom {
    background-color: #000;
    text-align: center;
    font-size: 20px;
    margin-top: 40px 0 0 0;
}

.footerbottom p {
    color: #ffd801;
}

/* Footer END */